body {
    color: black;
}
.bg { 
    background: url("http://www.top4themes.com/data/out/152/6720265-yui-hirasawa-wallpapers.png") no-repeat center center fixed;
    display: block;
    filter: blur(6.6px);
    height: calc(100vh - 40px); /* If we use 100%, we'll activate the scroll bar, that's a nono */
    left: 0;
    right: 0;
    position: fixed;
    z-index: -1;
    opacity: 0.5;
}
h1, h2 {
    font-family: 'Pacifico', sans-serif;
}

p {
    font-family: 'Raleway', sans-serif;
}
.center {
    width: 500px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.sortaboxthing {
    border: 2px solid #7298da;
    width: 500px;
    height: 300px;
    background-color: whitesmoke;
    z-index: 420; /* Hey smokers, Druaga1 here */
}
.center p,h1,h2 { margin: 5px;text-align: center; }
.center button { margin: 5px;float: center; }
.button {
    background-color: #212530;
    border: 2px solid #7298da;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    color: white;
    font-family: 'Raleway', sans-serif;
}
