<!DOCTYPE html>

<html lang="en_US">
    
<head>
        
<title>Home | Yui Hirasawa</title>
        
<link rel="stylesheet" href="css/index.css" />
        
<link rel="shortcut icon" href="https://cdn.discordapp.com/avatars/412014529099333642/f2d2a943ec36e2dba919bab3734138aa.png" />
        
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Pacifico|Raleway" />
        
<meta charset="utf-8">
    
</head>
    
<body>
        
<div class="bg"></div>
        
<div class="sortaboxthing">
            
<div class="center">
    <center>
                
<h1>Yui Hirasawa</h1>
                
<h2>A discord bot made in the Eris library =w=</h2>
</center>
                
<p>The website is currently being developed.</p>
                
<p>Come back soon!</p>
            
</div>
        </div>
    </body>
</html>
